<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Auction Statistics</title>
    <link rel="stylesheet" href="/css/index.css" />
    <style>
      th, td {
        text-align:left;
        padding: 10px;
      }
    </style>
  </head>

  <body>
    <%- include('./includes/header.ejs'); -%>
    <main>
      <head>
        <span style="font-size: 26px">Auction Statistics</span>
      </head>
      <br>
    </br>
      <table style="width: 100%;">
        <tr style="text-decoration: underline;">
          <th class = "text-center">Auctions Active</th>
          <th class = "text-center">Auctions Finished</th>
          <th class = "text-center">Auctions Won</th>
          <th class = "text-center">Auctions Cancelled</th>
          <th class = "text-center">Items Rated</th>
          <th class = "text-center">Items Not Rated</th>
        </tr>
        <% for(let i =0;i <= data.length -1; i++){ %>
        <tr>
          <td> <%= data[i].auctionsactive %> </td>
          <td> <%= data[i].auctionsfinished %> </td>
          <td> <%= data[i].auctionswon %> </td>
          <td> <%= data[i].auctionscancelled %> </td>
          <td> <%= data[i].itemsrated %> </td>
          <td> <%= data[i].itemsnotrated %> </td>
        </tr>
        <% } %>
      </table>
      </section>
      </main>
      <%- include('./includes/footer.ejs'); -%>
  </body>
</html>