<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cancelled Auction Details</title>
    <link rel="stylesheet" href="/css/index.css" />
    <style>
      th, td {
        text-align:left;
        padding: 10px;
      }
    </style>
  </head>

  <body>
    <%- include('./includes/header.ejs'); -%>
    <main>
      <head>
        <span style="font-size: 26px">Cancelled Auction Details</span>
      </head>
      <br>
    </br>
      <table style="width: 100%;">
        <tr style="text-decoration: underline;">
          <th class = "text-center">ID</th>
          <th class = "text-center">Listed By</th>
          <th class = "text-center">Cancelled Date</th>
          <th class = "text-center">Reason</th>
        </tr>
        <% for(let i =0;i <= data.length -1; i++){ %>
        <tr>
          <td> <%= data[i].ID %> </td>
          <td> <%= data[i].Listed_By %> </td>
          <td> <%= data[i].Cancelled_Date %> </td>
          <td> <%= data[i].Reason %> </td>
        </tr>
        <% } %>
      </table>
      </section>
      </main>
      <%- include('./includes/footer.ejs'); -%>
  </body>
</html>