<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% if (isActiveItem) { %>
    <title>Item for Sale</title>
    <% } else { %>
    <title>Item Results</title>
    <% } %>
    <link rel="stylesheet" href="/css/index.css" />
    <script>
        function showCancelAuctionPrompt() {
            let cancelReason = prompt("Please enter a reason for cancelling this auction:");
            
            if (cancelReason != null && cancelReason.trim() !== "") {
                document.getElementById('cancel-reason').value = cancelReason
                document.getElementById('cancel-auction-form').submit();
            }
            else if (cancelReason != null) {
                alert("Cancel reason cannot be empty. Please try again.")
            }
        }
        function showEditDescriptionPrompt() {
            let updatedDescription = prompt("Please enter an updated item description:");
            
            if (updatedDescription != null && updatedDescription.trim() !== "") {
                document.getElementById('new-description').value = updatedDescription
                document.getElementById('new-description-form').submit();
            }
            else if (updatedDescription != null) {
                alert("Updated description cannot be empty. Please try again.")
            }
        }
    </script>
  </head>
  <body>
    <%- include('./includes/header.ejs'); -%>

    <main>
      <%- include('./includes/messages.ejs'); -%>

        <section>
          <a href="/rating?itemID=<%=itemData.itemID%>&itemName=<%=itemData.itemname %>" style="float: right;">View Ratings</a>
        </section>

      <section>
        <p>Item ID: <%= itemData.itemID %></p>
      </section>

      <section>
        <p>Item Name: <%= itemData.itemname %></p>
      </section>

      <section>
        <p style="margin-bottom: 0;">Description: <%= itemData.itemdescription %></p>
        
        <% if (itemData.isOwnedByLoggedInUser && isActiveItem) { %>
          <a href="#" onclick="showEditDescriptionPrompt()">Edit Description</a>
        <% } %>
      </section>

      <section>
        <p>Category: <%= itemData.categoryname %></p>
      </section>

      <section>
        <p>Condition: <%= itemData.condition %></p>
      </section>

      <section>
        <p>Returns Accepted? <%= itemData.isreturnable %></p>
      </section>

      <% if (itemData.getnowprice > 0) { %>
      <section style="display: flex; align-items: center; gap: 1rem;">
        <p>Get It Now price: <strong>$<%= itemData.getnowprice %></strong></p>
        <% if (isActiveItem) { %>
            <form action="/bid/place" method="post">
                <input type="hidden" name="itemID" value="<%= itemData.itemID %>">
                <input type="hidden" name="getItNowFlag" value="true">
                <button type="submit">Get It Now!</button>
            </form>
        <% } %>
      </section>
      <% } %>

      <% if (isActiveItem) { %>
        <section>
          <p><strong>Auction Ends: <%= new Date(itemData.endtime).toLocaleString("en-US") %></strong></p>
        </section>
      <% } else { %>
        <section>
          <p><strong>Auction Ended: <%= itemData.canceltime != null ? new Date(itemData.canceltime).toLocaleString("en-US") : new Date(itemData.endtime).toLocaleString("en-US") %></strong></p>
        </section>
      <% } %>

      <table style="border: 1px solid var(--gt-gold); border-spacing: 1rem 0.4rem;">
        <caption style="text-align: start; font-weight: bold; font-size: 1rem; line-height: 1.5rem;">Latest Bids</caption>
        <tr style="text-decoration: underline;">
          <th>Bid Amount</th>
          <th>Time of Bid</th>
          <th>Username</th>
        </tr>
        <% if (itemData.canceltime !== null) { %>
          <tr style="background-color: #FFADAD;">
            <td>Cancelled</td>
            <td><%= new Date(itemData.canceltime).toLocaleString("en-US") %></td>
            <td>Administrator</td>
          </tr>
        <% }%>
        <% itemData.bids.forEach(function(bid, index) {
            if (index == 0 && !isActiveItem) {
              let highlightColor = "";

              if (itemData.canceltime == null) {
                if (Number(bid.amount) >= Number(itemData.minsaleprice)) {
                  highlightColor = "#CAFFBF"
                } else {
                  highlightColor = "#FDFFB6"
                }
              }
        %>
          <tr style="background-color: <%= highlightColor %>;">
            <td><%= bid.amount %></td>
            <td><%= new Date(bid.bidtime).toLocaleString("en-US") %></td>
            <td><%= bid.userid %></td>
          </tr>
          <% } else { %>
            <tr>
              <td><%= bid.amount %></td>
              <td><%= new Date(bid.bidtime).toLocaleString("en-US") %></td>
              <td><%= bid.userid %></td>
            </tr>
          <% } %>
        <% }) %>
      </table>

      <% if (isActiveItem) { 
          const minimumBidAmount = itemData.bids[0] ? Number(itemData.bids[0].amount) + 1 : Number(itemData.startingbid);
          const maximumBidAmount = itemData.getnowprice ? itemData.getnowprice - 0.01 : "none";
      %>
        <form action="/bid/place" method="post">
          <section>
            <label for="bid-amount">Your bid $</label>
            <input
              id="bid-amount"
              name="bidAmount"
              type="number"
              min="<%= minimumBidAmount %>"
              step="0.01"
              max="<%= maximumBidAmount %>"
              required
            />
            <span>(minimum bid $<%= minimumBidAmount %>)</span>
            <input type="hidden" name="itemID" value="<%= itemData.itemID %>">
            <input type="hidden" name="getItNowFlag" value="false">
          </section>
          <button type="submit">Bid On This Item</button>
      </form>
      <% } %>
    <div style="display: flex; gap: 1rem; margin-top: 1rem;">
        <a href="/menu" style="width: 100%; text-decoration: none;">
            <button type="button" class="secondary">Close</button>
        </a>
        <% if (isAdmin && isActiveItem) { %>
        <button type="button" class="secondary" onclick="showCancelAuctionPrompt()">Cancel This Item</button>
        <% } %>
    </div>
    </main>

    <%- include('./includes/footer.ejs'); -%>

    <form action="/auction/cancel" id="cancel-auction-form" method="post">
        <input type="hidden" name="cancelReason" id="cancel-reason" />
        <input type="hidden" name="itemID" value="<%= itemData.itemID %>" />
    </form>

    <form action="/item/description" id="new-description-form" method="post">
        <input type="hidden" name="newDescription" id="new-description" />
        <input type="hidden" name="itemID" value="<%= itemData.itemID %>" />
    </form>
  </body>
</html>
